@tailwind base;
@tailwind components;
@tailwind utilities;

card-bg {
  background-image: url('./images/cardDesign.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageStyle {
  object-fit: cover;
  height: 175px; /* or any desired height */
  width: 175px; /* or any desired width */
}
