@tailwind base;
@tailwind components;
@tailwind utilities;

card-bg {
  background-image: url('./images/cardDesign.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageStyle {
  object-fit: cover;
  /* or any desired width */
  width: 175px;
  height: 175;
  min-width: 125px;
  min-height: 125px;
}
